// punto3.pug

html
  head
    title #{title}
    link(rel='stylesheet', href='/style/style.css') 

  body 
    .divConsigna
      p.Pconsigna Consigna 3
      img(src='/images/3.PNG', alt='Imagen 3', class='imagen')        

    #content3 
      h1 Formulario de Datos Personales

      form.form3(action="/submit", method="post")
        
        label(for="nombre") Nombre:
        input(type="text", id="nombre", name="nombre", required)

        label(for="dni") DNI:
        input(type="text", id="dni", name="dni", required)

        label(for="sexo") Sexo:
        select(id="sexo", name="sexo", required) 
          option(value="seleccionar") Seleccionar 
          option(value="masculino") Masculino
          option(value="femenino") Femenino

        if profesiones && profesiones.length > 0
          div
            label Profesión:
            each profesion in profesiones
              div
                input(type="checkbox", id=profesion, name="profesion", value=profesion)
                label(for=profesion)= profesion

        if provincias && provincias.length > 0
          div
            label Provincia de Nacimiento:
            select(id="provincia", name="provincia", required)
              each provincia in provincias
                option(value=provincia)= provincia
        else
          div
            label Provincia de Nacimiento:
            select(id="provincia", name="provincia", required, disabled)
              option(value="No existen datos") No existen datos

        if localidades && localidades.length > 0
          div
            label Localidad de Nacimiento:
            select(id="localidad", name="localidad", required)
              each localidad in localidades
                option(value=localidad)= localidad
        else
          div
            label Localidad de Nacimiento:
            select(id="localidad", name="localidad", required, disabled)
              option(value="No existen datos") No existen datos
        div  
          label(for="fechaNacimiento") Fecha de Nacimiento:
          input(type="date", id="fechaNacimiento", name="fechaNacimiento", required)

        button.btn3(type="submit") Enviar